In [13]:
import pandas as pd
import numpy as np

def generate_sample_data():
    data = {
        'datetime': pd.date_range(start='2023-01-01', periods=100, freq='D'),
        'open': np.random.rand(100) * 100,
        'high': np.random.rand(100) * 100,
        'low': np.random.rand(100) * 100,
        'close': np.random.rand(100) * 100,
        'volume': np.random.randint(1, 100, size=100),
        'buy_sig': np.random.randint(0, 2, size=100),
        'sell_sig': np.random.randint(0, 2, size=100),
        'stop_loss': np.random.rand(100) * 100,
    }
    return pd.DataFrame(data)

df = generate_sample_data()
df

,datetime,open,high,low,close,volume,buy_sig,sell_sig,stop_loss
0,2023-01-01,31.186386,62.234326,28.247243,30.978786,17,1,0,67.324644
1,2023-01-02,77.399138,98.117784,42.522819,29.004553,74,1,0,40.811906
2,2023-01-03,77.292148,19.010765,3.757109,87.141403,27,1,0,88.561976
3,2023-01-04,52.129605,79.259512,12.786680,67.270299,54,0,1,22.190046
4,2023-01-05,97.601382,90.789879,76.554675,79.668140,50,0,0,71.464127
...,...,...,...,...,...,...,...,...,...
95,2023-04-06,56.953978,77.112282,55.270708,39.903532,4,1,0,43.108686
96,2023-04-07,25.954178,65.465069,39.655368,83.980161,86,1,1,54.934264
97,2023-04-08,43.699589,15.159507,13.171503,18.854061,7,0,0,53.325140
98,2023-04-09,59.356094,87.588308,86.529576,67.246050,61,1,0,63.676172
99,2023-04-10,7.308156,53.909455,15.727321,97.700695,54,0,0,74.823283