In [7]:
import talib as ta
import pandas as pd
from backend.data_center.kline_data.kline_data_collector import *

tv = KlineDataCollector()
file_abspath = tv.get_abspath(symbol='BTC', interval=Interval.in_daily)
df = pd.read_csv(f"{file_abspath}")
df

error while signin
you are using nologin method, data you access may be limited

,datetime,symbol,open,high,low,close,volume,adx,sma10,sma20,sma50,sma100,sma200
0,2017-08-17 08:00:00,Binance:BTCUSDT,4261.48,4485.39,4200.74,4285.08,795.150377,NaN,NaN,NaN,NaN,NaN,NaN
1,2017-08-18 08:00:00,Binance:BTCUSDT,4285.08,4371.52,3938.77,4108.37,1199.888264,NaN,NaN,NaN,NaN,NaN,NaN
2,2017-08-19 08:00:00,Binance:BTCUSDT,4108.37,4184.69,3850.00,4139.98,381.309763,NaN,NaN,NaN,NaN,NaN,NaN
3,2017-08-20 08:00:00,Binance:BTCUSDT,4120.98,4211.08,4032.62,4086.29,467.083022,NaN,NaN,NaN,NaN,NaN,NaN
4,2017-08-21 08:00:00,Binance:BTCUSDT,4069.13,4119.62,3911.79,4016.00,691.743060,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2624,2024-10-23 08:00:00,Binance:BTCUSDT,67426.01,67472.83,65260.00,66668.65,25685.192760,20.69,67551.01,64821.86,62308.24,62078.56,63324.93
2625,2024-10-24 08:00:00,Binance:BTCUSDT,66668.65,68850.00,66510.00,68198.28,22717.266120,20.61,67762.44,65127.47,62512.79,62110.10,63319.11
2626,2024-10-25 08:00:00,Binance:BTCUSDT,68198.27,68771.49,65596.29,66698.33,34618.613090,19.95,67724.85,65359.49,62723.15,62136.20,63294.51
2627,2024-10-26 08:00:00,Binance:BTCUSDT,66698.32,67454.55,66439.90,67092.76,11907.768990,19.33,67672.13,65573.13,62985.75,62167.25,63284.24
2628,2024-10-27 08:00:00,Binance:BTCUSDT,67092.76,67229.98,66913.73,67164.31,866.789780,18.76,67646.38,65820.14,63245.82,62172.29,63266.91

In [ ]:
def perfect_order_strategy(data: DataFrame) -> DataFrame:
    # 
    return data